<ul class="nav nav-pills pull-right">
  <li role="presentation"><a ui-sref="master.base.decisionguidance.newest-dgm">{{"DECISION_GUIDANCE_MODELS" | translate}}</a></li>
  <li role="presentation"><a ui-sref="master.base.startdash.newest-ap">{{"DECISION_DOCUMENTATION_MODELS" | translate}}</a></li>
  <!--<li role="presentation"><a href="#">{{"MEMBERS" | translate}}</a></li>
  <li role="presentation"><a href="#">{{"ATTRIBUTES" | translate}}</a></li>
  <li role="presentation"><a href="#">{{"BADGES" | translate}}</a></li>-->
</ul>