<div class="row">
    <div class="col-sm-2 text-center">
        <div class="text-muted">
            <big><b>{{10 + archProfile.id % 3 - archProfile.id % 4 * 2}}</b></big><br/>
            <small>{{"VOTES" | translate}}</small>
            <br/>
        </div>
        <hr/>
        <small>123 {{"VIEWS" | translate}}</small>
        <br/>
        <small>22 {{"DOWNLOADS" | translate}}</small>
        <br/>
    </div>
    <div class="col-sm-10">
        <div class="panel" style="position:relative;" ng-class="{'panel-primary': isOwn, 'panel-default': !isOwn}">
            <div style="position: absolute; top: 5px; right: 5px;">
                <button class="btn btn-default btn-sm" ng-if="isOwn && !archProfile.published"
                        tooltip-placement="bottom" uib-tooltip="{{'PUBLISH' | translate}}"
                        ng-click="publishArchProfile()"><span class="glyphicon glyphicon-eye-close"></span></button>
                <button class="btn btn-default btn-sm" ng-if="isOwn && archProfile.published"
                        tooltip-placement="bottom" uib-tooltip="{{'UNPUBLISH' | translate}}"
                        ng-click="unpublishArchProfile()"><span class="glyphicon glyphicon-eye-open"></span></button>
            </div>
            <div class="panel-body">
                <h4>
                    <a ui-sref="master.base.archprofile({id:archProfile.id})">
                        <span ng-if="archProfile.title !== undefined && archProfile.title !== ''">{{archProfile.title}}</span>
                        <span ng-if="archProfile.title === undefined || archProfile.title === ''">** {{"NO_TITLE_YET" | translate}} **</span>
                    </a>
                </h4>
                <p>{{archProfile.description}}</p>
                <div class="text-muted pull-left">
                    <small class="text-muted">{{"CREATED" | translate}}
                        {{archProfile.created.year}}-{{archProfile.created.monthValue}}-{{archProfile.created.dayOfMonth}}
                    </small>
                    <br/>
                    <small class="text-muted">{{"MODIFIED" | translate}}
                        {{archProfile.modified.year}}-{{archProfile.modified.monthValue}}-{{archProfile.modified.dayOfMonth}}
                    </small>
                    <br/>
                </div>
                <archkb-user-info class="pull-right" style="width: 150px"
                                  username="archProfile.ownerName"></archkb-user-info>
            </div>
        </div>
    </div>
</div>