<div ui-view="header"></div>
<uib-alert class="archkb-message-wrapper" ng-if="global.message.show" type="{{global.message.type}}" close="global.message.close()">{{global.message.description}}</uib-alert>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div ui-view="below-header"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<div ui-view="left-top" class="archkb-top-content archkb-relative"></div>
			<div ui-view="left-middle"></div>
			<div ui-view="left-bottom"></div>
		</div>
		<div class="col-sm-3">
			<div ui-view="right-top" class="archkb-top-content"></div>
			<div ui-view="right-middle"></div>
			<div ui-view="right-bottom"></div>
		</div>
	</div>
</div>
<div ui-view="footer" class="archkb-footer bg-primary"></div>