<h4>{{decisionGuidanceModel.title}}<br/><small>{{'SUMMARY' | translate}}</small> </h4>

<hr ng-if="isOwner"/>
<button class="btn btn-success btn-sm" ng-if="isOwner && !decisionGuidanceModel.published" ng-click="publishDecisionGuidanceModel()"><span class="glyphicon glyphicon-eye-open"></span> {{"PUBLISH" | translate}}</button>
<button class="btn btn-warning btn-sm" ng-if="isOwner && decisionGuidanceModel.published" ng-click="unpublishDecisionGuidanceModel()"><span class="glyphicon glyphicon-eye-close"></span> {{"UNPUBLISH" | translate}}</button>
<hr ng-if="isOwner"/>
<archkb-confirm-button ng-if="isOwner" on-confirm="deleteDecisionGuidanceModel()" text="{{'DELETE' | translate}}"></archkb-confirm-button>
<hr/>
<b>{{'CREATOR' | translate}}</b><br/><br/>
<archkb-user-info username="decisionGuidanceModel.ownerName"></archkb-user-info>
<hr/>
<small class="text-muted">{{"CREATED" | translate}} {{decisionGuidanceModel.created.year}}-{{decisionGuidanceModel.created.monthValue}}-{{decisionGuidanceModel.created.dayOfMonth}}</small><br/>
<small class="text-muted">{{"MODIFIED" | translate}} {{decisionGuidanceModel.modified.year}}-{{decisionGuidanceModel.modified.monthValue}}-{{decisionGuidanceModel.modified.dayOfMonth}}</small><br/>
<small class="text-muted">{{"STATUS" | translate}} {{decisionGuidanceModel.published ? ("PUBLISHED" | translate) : ("UNPUBLISHED" | translate)}}</small>
<hr/>


