<form>
	<div class="form-group" ng-if="item.nameOver !== undefined">
		<label>{{item.nameOver}}</label>
    	<textarea placeholder="{{'DEFINITION' | translate}}" rows="1" msd-elastic ng-model="item.definitionOver" archkb-eip-input
				  ng-disabled="ngDisabled" ng-change="tradeoffDefinitionOverChangeCallback()" ng-model-options="{updateOn: 'blur'}"></textarea>
	</div>
	<hr ng-if="item.nameOver !== undefined" />
	<div class="form-group" ng-if="item.name !== undefined">
		<label>{{item.name}}</label>
    	<textarea placeholder="{{'DEFINITION' | translate}}" rows="1" msd-elastic ng-model="item.definition" archkb-eip-input
				ng-disabled="ngDisabled" ng-change="definitionChangeCallback()" ng-model-options="{updateOn: 'blur'}"></textarea>
	</div>
	<div class="form-group" ng-if="item.nameUnder !== undefined">
		<label>{{item.nameUnder}}</label>
    	<textarea placeholder="{{'DEFINITION' | translate}}" rows="1" msd-elastic ng-model="item.definitionUnder" archkb-eip-input
				  ng-disabled="ngDisabled" ng-change="tradeoffDefinitionUnderChangeCallback()" ng-model-options="{updateOn: 'blur'}"></textarea>
	</div>
</form>