<div class="container">
    <h1 class="page-header">Existing User</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>E-Mail</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td style="vertical-align:middle;">{{user.id}}</td>
                <td style="vertical-align:middle;">{{user.username}}</td>
                <td style="vertical-align:middle;">{{user.email}}</td>
                <td style="vertical-align:middle;">{{user.firstName}}</td>
                <td style="vertical-align:middle;">{{user.lastName}}</td>
                <td><a ng-click="navigate(user.id)" class="btn btn-warning"><span class="glyphicon glyphicon-share"></span> Edit</a></td>
            </tr>
        </tbody>
    </table>

</div>