<div class="row">
    <div class="col-sm-2">
        <archkb-loadindicator show="ui.loading"></archkb-loadindicator>
    </div>
    <div class="col-sm-10 text-right" ng-if="decisionGuidanceModels.length > 0">
        <uib-pagination ng-change="getDecisionGuidanceModels()" items-per-page="ui.itemsPerPage" total-items="ui.totalItems" ng-model="ui.currentPage" max-size="ui.maxPageSize" boundary-links="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>
<hr ng-if="decisionGuidanceModels.length > 0"/>
<div ng-repeat="decisionGuidanceModel in decisionGuidanceModels">
    <div class="text-right" ng-if="decisionGuidanceModel.published !== undefined && !decisionGuidanceModel.published">
        <small class="text-muted text-right">{{"UNPUBLISHED" | translate}}</small>
    </div>
    <archkb-decisionguidancemodel-info decisionguidancemodel="decisionGuidanceModel" is-own="checkIfOwn(decisionGuidanceModel)" publish-archprofile="publishDecisionGuidanceModel(decisionGuidanceModel)" unpublish-archprofile="unpublishDecisionGuidanceModel(decisionGuidanceModel)"></archkb-decisionguidancemodel-info>
    <hr/>
</div>