<div style="position: absolute; right: 0; top: 0;">
    <archkb-loadindicator show="ui.showLoadIndicator"></archkb-loadindicator>
</div>
<textarea placeholder="{{'TITLE' | translate}}" rows="1" msd-elastic ng-model="decisionGuidanceModel.title" archkb-eip-input
          size="xl"
          ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions" ng-change="updateTitle()"></textarea>
<textarea placeholder="{{'SHORT_DESCRIPTION' | translate}}" rows="1" msd-elastic ng-model="decisionGuidanceModel.description"
          archkb-eip-input size="lg" ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
          ng-change="updateDescription()"></textarea>

<div class="row" ng-if="decisionGuidanceModel.potentialRequirements.length > 0 || !ui.editDisabled">
    <div class="col-sm-12">
        <hr/>
        <h3>{{'POTENTIALREQUIREMENTS' | translate}}</h3>
        <dl ng-repeat="potentialRequirement in decisionGuidanceModel.potentialRequirements | orderBy: 'ordering'"
            archkb-eip-input-container collection="decisionGuidanceModel.potentialRequirements" item="potentialRequirement"
            ng-disabled="ui.editDisabled"
            delete-promise="deleteRelation(potentialRequirement, relationIds.potentialrequirements)"
            ordering-up-promise="updateRelationOrdering(potentialRequirement, -1, relationIds.potentialrequirements)"
            ordering-down-promise="updateRelationOrdering(potentialRequirement, 1, relationIds.potentialrequirements)"
            waiting-for-promise="ui.showLoadIndicator"
            definition-change-callback="updateRelationDefinition(potentialRequirement, relationIds.potentialrequirements)"
            show-additional="ui.showAdditionalRelationInfo(potentialRequirement)">
            <dt>
					<textarea placeholder="{{'POTENTIALREQUIREMENT' | translate}}" rows="1" msd-elastic
                              ng-model="potentialRequirement.name"
                              archkb-eip-input ng-disabled="ui.editDisabled"
                              ng-model-options="ui.coreDataModelOptions"
                              uib-typeahead="loadedpotentialRequirement.name for loadedpotentialRequirement in getCoreData($viewValue, relationIds.potentialrequirements)"
                              typeahead-min-length="3"
                              typeahead-on-select="addRelation($item, relationIds.potentialrequirements, potentialRequirement)"
                              typeahead-no-results="potentialRequirement.noResults"></textarea>
                <button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(potentialRequirement)"
                        ng-click="createNewAttribute(potentialRequirement, relationIds.potentialrequirements)">{{"DEFINE"
                    |
                    translate}}
                </button>
            </dt>
            <dd>
					<textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                              ng-model="potentialRequirement.description" archkb-eip-input
                              ng-show="ui.showAdditionalRelationInfo(potentialRequirement)"
                              ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                              ng-change="updateRelationDescription(potentialRequirement, relationIds.potentialrequirements)"></textarea>
            </dd>
        </dl>
    </div>
</div>

<div class="row" ng-if="decisionGuidanceModel.designOptions.length > 0 || !ui.editDisabled">
    <div class="col-sm-12">
        <hr/>
        <h3>{{'DESIGNOPTIONS' | translate}}</h3>
        <dl ng-repeat="designoption in decisionGuidanceModel.designOptions | orderBy: 'ordering'"
            archkb-eip-input-container collection="decisionGuidanceModel.designOptions" item="designoption"
            ng-disabled="ui.editDisabled"
            delete-promise="deleteRelation(designoption, relationIds.designoptions)"
            ordering-up-promise="updateRelationOrdering(designoption, -1, relationIds.designoptions)"
            ordering-down-promise="updateRelationOrdering(designoption, 1, relationIds.designoptions)"
            waiting-for-promise="ui.showLoadIndicator"
            definition-change-callback="updateRelationDefinition(designoption, relationIds.designoptions)"
            show-additional="ui.showAdditionalRelationInfo(designoption)">
            <dt>
					<textarea placeholder="{{'DESIGNOPTION' | translate}}" rows="1" msd-elastic
                              ng-model="designoption.name"
                              size="lg"
                              archkb-eip-input ng-disabled="ui.editDisabled"
                              ng-model-options="ui.coreDataModelOptions"
                              uib-typeahead="loadedDesignOption.name for loadedDesignOption in getCoreData($viewValue, relationIds.designoptions)"
                              typeahead-min-length="3"
                              typeahead-on-select="addRelation($item, relationIds.designoptions, designoption)"
                              typeahead-no-results="designoption.noResults"></textarea>
                <button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(designoption)"
                        ng-click="createNewAttribute(designoption, relationIds.designoptions)">{{"DEFINE"|translate}}
                </button>
            </dt>
            <dd>
                <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                    ng-model="designoption.description" archkb-eip-input
                    ng-show="ui.showAdditionalRelationInfo(designoption)"
                    ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                    ng-change="updateRelationDescription(designoption, relationIds.designoptions)"></textarea>

                <div class="col-sm-12" ng-show="ui.showAdditionalRelationInfo(designoption)">
                    <hr style="margin-bottom: 3px; margin-top: 3px"/>
                    <h5>{{'IMPLICATIONS' | translate}}</h5>
                    <dl style="margin-bottom: 2px"
                        ng-repeat="implication in designoption.implications | orderBy: 'ordering'"
                        archkb-eip-input-container collection="designoption.implications" item="implication"
                        ng-disabled="ui.editDisabled"
                        delete-promise="deleteDesignOptionRelation(designoption.idAttribute, implication, designOptionRelationIds.implications)"
                        ordering-up-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, implication, -1, designOptionRelationIds.implications)"
                        ordering-down-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, implication, 1, designOptionRelationIds.implications)"
                        waiting-for-promise="ui.showLoadIndicator"
                        definition-change-callback="updateDesignOptionRelationDefinition(designoption.idAttribute, implication, designOptionRelationIds.implications)"
                        show-additional="ui.showAdditionalRelationInfo(implication)">
                        <dt>
					        <textarea placeholder="{{'IMPLICATION' | translate}}" rows="1" msd-elastic
                                ng-model="implication.name"
                                size="sm"
                                archkb-eip-input ng-disabled="ui.editDisabled"
                                ng-model-options="ui.coreDataModelOptions"
                                uib-typeahead="loadedImplication.name for loadedImplication in getCoreData($viewValue, designOptionRelationIds.implications)"
                                typeahead-min-length="3"
                                typeahead-on-select="addDesignOptionRelation(designOption, $item, designOptionRelationIds.implications, implication)"
                                typeahead-no-results="implication.noResults"></textarea>
                            <button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(implication)"
                                ng-click="createNewDesignOptionAttribute(designoption, implication, designOptionRelationIds.implications)">{{"DEFINE" | translate}}
                            </button>
                        </dt>
                        <dd>
                            <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                                ng-model="implication.description" archkb-eip-input
                                size="sm"
                                ng-show="ui.showAdditionalRelationInfo(implication)"
                                ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                                ng-change="updateDesignOptionRelationDescription(designoption.idAttribute, implication, designOptionRelationIds.implications)"></textarea>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-12" ng-show="ui.showAdditionalRelationInfo(designoption)">
                    <hr style="margin-bottom: 3px; margin-top: 3px"/>
                    <h5>{{'REQUIREMENTSADDRESSED' | translate}}</h5>
                    <dl style="margin-bottom: 2px"
                        ng-repeat="addressedRequirement in designoption.addressedRequirements | orderBy: 'ordering'"
                        archkb-eip-input-container collection="designoption.addressedRequirements" item="addressedRequirement"
                        ng-disabled="ui.editDisabled"
                        delete-promise="deleteDesignOptionRelation(designoption.idAttribute, addressedRequirement, designOptionRelationIds.addressedRequirements)"
                        ordering-up-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, addressedRequirement, -1, designOptionRelationIds.addressedRequirements)"
                        ordering-down-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, addressedRequirement, 1, designOptionRelationIds.addressedRequirements)"
                        waiting-for-promise="ui.showLoadIndicator"
                        definition-change-callback="updateDesignOptionRelationDefinition(designoption.idAttribute, addressedRequirement, designOptionRelationIds.addressedRequirements)"
                        show-additional="ui.showAdditionalRelationInfo(addressedRequirement)">
                        <dt>
					        <textarea placeholder="{{'REQUIREMENTADDRESSED' | translate}}" rows="1" msd-elastic
                                      ng-model="addressedRequirement.name"
                                      size="sm"
                                      archkb-eip-input ng-disabled="ui.editDisabled"
                                      ng-model-options="ui.coreDataModelOptions"
                                      uib-typeahead="loadedRequirement.name for loadedRequirement in getCoreData($viewValue, relationIds.potentialrequirements)"
                                      typeahead-min-length="3"
                                      typeahead-on-select="addDesignOptionRelation(designoption, $item, designOptionRelationIds.addressedRequirements, addressedRequirement)"
                                      typeahead-no-results="addressedRequirement.noResults"></textarea>
                            <!--<button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(addressedRequirement)"
                                    ng-click="createNewDesignOptionAttribute(designoption, addressedRequirement, designOptionRelationIds.addressedRequirements)">{{"DEFINE" | translate}}
                            </button>-->
                        </dt>
                        <!--<dd>
                            <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                                      ng-model="addressedRequirement.description" archkb-eip-input
                                      size="sm"
                                      ng-show="ui.showAdditionalRelationInfo(addressedRequirement)"
                                      ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                                      ng-change="updateDesignOptionRelationDescription(designoption.idAttribute, addressedRequirement, designOptionRelationIds.addressedRequirements)"></textarea>
                        </dd>-->
                    </dl>
                </div>
                <div class="col-sm-12" ng-show="ui.showAdditionalRelationInfo(designoption)">
                    <hr style="margin-bottom: 3px; margin-top: 3px"/>
                    <h5>{{'EFFECTEDGUIDANCEMODELS' | translate}}</h5>
                    <dl style="margin-bottom: 2px"
                        ng-repeat="effectedGuidanceModel in designoption.effectedGuidanceModels | orderBy: 'ordering'"
                        archkb-eip-input-container collection="designoption.effectedGuidanceModels" item="effectedGuidanceModel"
                        ng-disabled="ui.editDisabled"
                        delete-promise="deleteDesignOptionRelation(designoption.idAttribute, effectedGuidanceModel, designOptionRelationIds.effectedguidancemodels)"
                        ordering-up-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, effectedGuidanceModel, -1, designOptionRelationIds.effectedguidancemodels)"
                        ordering-down-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, effectedGuidanceModel, 1, designOptionRelationIds.effectedguidancemodels)"
                        waiting-for-promise="ui.showLoadIndicator"
                        definition-change-callback="updateDesignOptionRelationDefinition(designoption.idAttribute, effectedGuidanceModel, designOptionRelationIds.effectedguidancemodels)"
                        show-additional="ui.showAdditionalRelationInfo(effectedGuidanceModel)">
                        <dt>
                            <textarea placeholder="{{'EFFECTEDGUIDANCEMODEL' | translate}}" rows="1" msd-elastic
                                      ng-model="effectedGuidanceModel.title"
                                      size="sm"
                                      archkb-eip-input ng-disabled="ui.editDisabled"
                                      ng-model-options="ui.coreDataModelOptions"
                                      uib-typeahead="loadedDecisionGuidanceModel.title for loadedDecisionGuidanceModel in getCoreData($viewValue, relationIds.relatedguidancemodels)"
                                      typeahead-min-length="3"
                                      typeahead-on-select="addDesignOptionRelation(designoption, $item, designOptionRelationIds.effectedguidancemodels, effectedGuidanceModel)"
                                      typeahead-no-results="effectedGuidanceModel.noResults"></textarea>
                                    <!--<button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(effectedGuidanceModel)"
                                            ng-click="createNewAttribute(effectedGuidanceModel, designOptionRelationIds.effectedguidancemodels)">{{"DEFINE"|translate}}
                                    </button>-->
                        </dt>
                        <dd>
                            <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                                      ng-model="effectedGuidanceModel.description" archkb-eip-input
                                      size="sm"
                                      ng-show="ui.showAdditionalRelationInfo(effectedGuidanceModel)"
                                      ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                                      ng-change="updateDesignOptionRelationDescription(designoption.idAttribute, effectedGuidanceModel, designOptionRelationIds.effectedguidancemodels)"></textarea>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-12" ng-show="ui.showAdditionalRelationInfo(designoption)">
                    <hr style="margin-bottom: 3px; margin-top: 3px"/>
                    <h5>{{'REQUIREDCOMPONENTS' | translate}}</h5>
                    <dl style="margin-bottom: 2px"
                        ng-repeat="requiredComponent in designoption.requiredComponents | orderBy: 'ordering'"
                        archkb-eip-input-container collection="designoption.requiredComponents" item="requiredComponent"
                        ng-disabled="ui.editDisabled"
                        delete-promise="deleteDesignOptionRelation(designoption.idAttribute, requiredComponent, designOptionRelationIds.components)"
                        ordering-up-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, requiredComponent, -1, designOptionRelationIds.components)"
                        ordering-down-promise="updateDesignOptionRelationOrdering(designoption.idAttribute, requiredComponent, 1, designOptionRelationIds.components)"
                        waiting-for-promise="ui.showLoadIndicator"
                        definition-change-callback="updateDesignOptionRelationDefinition(designoption.idAttribute, requiredComponent, designOptionRelationIds.components)"
                        show-additional="ui.showAdditionalRelationInfo(requiredComponent)">
                        <dt>
                            <textarea placeholder="{{'REQUIREDCOMPONENT' | translate}}" rows="1" msd-elastic
                                      ng-model="requiredComponent.name"
                                      size="sm"
                                      archkb-eip-input ng-disabled="ui.editDisabled"
                                      ng-model-options="ui.coreDataModelOptions"
                                      uib-typeahead="loadedComponent.name for loadedComponent in getCoreData($viewValue, designOptionRelationIds.components)"
                                      typeahead-min-length="3"
                                      typeahead-on-select="addDesignOptionRelation(designOption, $item, designOptionRelationIds.components, requiredComponent)"
                                      typeahead-no-results="requiredComponent.noResults"></textarea>
                            <button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(requiredComponent)"
                                    ng-click="createNewDesignOptionAttribute(designoption, requiredComponent, designOptionRelationIds.components)">{{"DEFINE" | translate}}
                            </button>
                        </dt>
                        <dd>
                            <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                                      ng-model="requiredComponent.description" archkb-eip-input
                                      size="sm"
                                      ng-show="ui.showAdditionalRelationInfo(requiredComponent)"
                                      ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                                      ng-change="updateDesignOptionRelationDescription(designoption.idAttribute, requiredComponent, designOptionRelationIds.components)"></textarea>
                        </dd>
                    </dl>
                </div>
            </dd>
        </dl>
    </div>
</div>

<div class="row" ng-if="decisionGuidanceModel.relatedGuidanceModels.length > 0 || !ui.editDisabled">
    <div class="col-sm-12">
        <hr/>
        <h3>{{'RELATEDGUIDANCEMODELS' | translate}}</h3>
        <dl ng-repeat="relatedGuidanceModel in decisionGuidanceModel.relatedGuidanceModels | orderBy: 'ordering'"
            archkb-eip-input-container collection="decisionGuidanceModel.relatedGuidanceModels" item="relatedGuidanceModel"
            ng-disabled="ui.editDisabled"
            delete-promise="deleteRelation(relatedGuidanceModel, relationIds.relatedguidancemodels)"
            ordering-up-promise="updateRelationOrdering(relatedGuidanceModel, -1, relationIds.relatedguidancemodels)"
            ordering-down-promise="updateRelationOrdering(relatedGuidanceModel, 1, relationIds.relatedguidancemodels)"
            waiting-for-promise="ui.showLoadIndicator"
            definition-change-callback="updateRelationDefinition(relatedGuidanceModel, relationIds.relatedguidancemodels)"
            show-additional="ui.showAdditionalRelationInfo(relatedGuidanceModel)">
            <dt>
					<textarea placeholder="{{'RELATEDGUIDANCEMODEL' | translate}}" rows="1" msd-elastic
                              ng-model="relatedGuidanceModel.title"
                              size="md"
                              archkb-eip-input ng-disabled="ui.editDisabled"
                              ng-model-options="ui.coreDataModelOptions"
                              uib-typeahead="loadedDecisionGuidanceModel.title for loadedDecisionGuidanceModel in getCoreData($viewValue, relationIds.relatedguidancemodels)"
                              typeahead-min-length="3"
                              typeahead-on-select="addRelation($item, relationIds.relatedguidancemodels, relatedGuidanceModel)"
                              typeahead-no-results="relatedGuidanceModel.noResults"></textarea>
                <!--<button class="btn btn-xs btn-success" ng-if="ui.showAddToCoreData(relatedGuidanceModel)"
                        ng-click="createNewAttribute(relatedGuidanceModel, relationIds.relatedguidancemodels)">{{"DEFINE"|translate}}
                </button>-->
            </dt>
            <!--<dd>
                <textarea placeholder="{{'DESCRIPTION' | translate}}" rows="1" msd-elastic
                          ng-model="relatedGuidanceModel.description" archkb-eip-input
                          size="sm"
                          ng-show="ui.showAdditionalRelationInfo(relatedGuidanceModel)"
                          ng-disabled="ui.editDisabled" ng-model-options="ui.inputModelOptions"
                          ng-change="updateRelationDescription(relatedGuidanceModel, relationIds.relatedguidancemodels)"></textarea>
            </dd>-->
        </dl>
    </div>
</div>